###> intellij/phpstorm ###
/.idea
###< intellij/phpstorm ###

###> composer ###
/bin/
/vendor/
###< composer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> dbrekelmans/coding-standard ###
.phpcs-cache
###< dbrekelmans/coding-standard ###
